body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*==============================CABEZA==============================*/

header{
    display: flex;
    flex-direction: column;
}

/*------------- CABEZA ARRIBA -------------*/

.cabezaArriba{
    background-color: rgb(187, 255, 98);
}

.cabezaArriba img{
    width: 100%;
}

.cabezaArriba a {
    display: block;
    width: fit-content;
    height: fit-content;
    width: 15%;
    padding: 1vh;
}

/*------------- CABEZA ABAJO -------------*/

.cabezaAbajo{
    display: flex;
    flex-direction: row;
    background-color: rgb(206, 255, 142);
    justify-content: space-between;
}

/* >>> CABEZA MENÚ IZQUIERDO <<<*/

.menuIzquierda{
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

li a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3vh;
    height: 100%;
    width: 100%;
    margin: 0px;
    color: black;
    font-size: 2vh;
    font-family: Arial;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(95, 118, 66);
    color: white;
}

/* >>> CABEZA MENÚ DERECHO <<<*/

.menuDerecha{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0px;
    padding: 0px;
    height: 100%;
}

.menuDerecha li {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.menuDerecha a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vh;
    margin: 0px;
    height: 100%;
    width: 100%;
}

.menuDerecha img {
    height: 7vh;
    width: 7vh;
    margin: 0;
    padding: 0;
}

/*==============================CUERPO==============================*/

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    background: url(../../../assets/Fondo/FondoPlantas-Oscuro.jpg);
}

h2 {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

form {
    background-color: rgb(176, 205, 139);
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 420px;
    text-align: center;
    margin: 50px;
}

form h2 {
    font-size: 30px;
    color: #000000;
    margin-bottom: 35px;
    font-family: arial;
}

input {
    padding: 17px;
    background-color: rgb(176, 205, 139);
    border: 2px solid #152a00;
    margin-bottom: 30px;
    outline: none;
    color: #000000;
    font-size: 16px;
}

::placeholder {
    color: rgb(64, 74, 50);
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 30px;
    color: #000000;
    background-color: rgb(176, 205, 139);
    border: 2px solid #000000;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-family: impact;
    font-size: 30px;
    width: 100%;
}

.btn:hover {
    background-color: #b7ff00;
    color: #1e3c00;
}

/*==============================PIE==============================*/

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/*------------- PIE ARRIBA -------------*/

.pieArriba{
    display: flex;
    flex-direction: row;
    background-color: rgb(13, 24, 0);
    padding: 20px;
}

/* >>> PIE ARRIBA IZQUIERDA <<<*/

.pieArribaIzquierda{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.pieArribaIzquierda img{
    width: 300px;
}

/* >>> PIE ARRIBA DERECHA <<<*/

.pieArribaDerecha{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.grupo{
    display: flex;
    flex-direction: column;
    color: white;
    font-family: arial;
}

.grupo h2{
    font-size: 30px;
    margin: 5px;
}

.grupo p{
    font-size: 20px;
    margin: 5px;
}

/*------------- PIE ABAJO -------------*/

.pieAbajo{
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: arial;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}

.pieAbajo p{
    margin: 15px;
}