body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*==============================CABEZA==============================*/

header{
    display: flex;
    flex-direction: column;
}

/*------------- CABEZA ARRIBA -------------*/

.cabezaArriba{
    background-color: rgb(187, 255, 98);
}

.cabezaArriba img{
    width: 100%;
}

.cabezaArriba a {
    display: block;
    width: fit-content;
    height: fit-content;
    width: 15%;
    padding: 1vh;
}

/*------------- CABEZA ABAJO -------------*/

.cabezaAbajo{
    display: flex;
    flex-direction: row;
    background-color: rgb(206, 255, 142);
    justify-content: space-between;
}

/* >>> CABEZA MENÚ IZQUIERDO <<<*/

.menuIzquierda{
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

li a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3vh;
    height: 100%;
    width: 100%;
    margin: 0px;
    color: black;
    font-size: 2vh;
    font-family: Arial;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(95, 118, 66);
    color: white;
}

/* >>> CABEZA MENÚ DERECHO <<<*/

.menuDerecha{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0px;
    padding: 0px;
    height: 100%;
}

.menuDerecha li {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.menuDerecha a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vh;
    margin: 0px;
    height: 100%;
    width: 100%;
}

.menuDerecha img {
    height: 7vh;
    width: 7vh;
    margin: 0;
    padding: 0;
}

/*==============================CUERPO==============================*/

main {
    background: url(../../../assets/Fondo/FondoPlantas-Oscuro.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}

/* ------------- CUERPO ARRIBA ------------- */
.cuerpoArriba {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 80px 30px;
    width: 100%;
    height: 75vh;
    text-align: center;
}

.cuerpoArriba img {
    min-width: 90vh;
    margin-bottom: 30px;
}

.cuerpoArriba h1 {
    font-family: 'Arial';
    font-size: 50px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    margin-bottom: 15px;
}

.cuerpoArriba p {
    font-family: 'Arial';
    font-size: 30px;
    color: rgb(0, 0, 0);
}

/* ------------- CUERPO ABAJO ------------- */
.cuerpoAbajo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(176, 205, 139);
    padding: 30px;
    width: 100%;
    height: 25vh;
    text-align: center;
    border-top: 3px solid #000000;
}

.cuerpoAbajo h3{
    font-family: arial;
    margin: 10px;
}

.cuerpoAbajo a {
    color: white;
    font-size: 20px;
    font-family: arial;
    background-color: rgb(34, 85, 45);
    padding: 20px 40px;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.cuerpoAbajo a:hover {
    background-color: rgb(140, 255, 0);
    color: #000000;
    transform: translateY(-5px);
}

/*==============================PIE==============================*/

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/*------------- PIE ARRIBA -------------*/

.pieArriba{
    display: flex;
    flex-direction: row;
    background-color: rgb(13, 24, 0);
    padding: 20px;
}

/* >>> PIE ARRIBA IZQUIERDA <<<*/

.pieArribaIzquierda{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.pieArribaIzquierda img{
    width: 300px;
}

/* >>> PIE ARRIBA DERECHA <<<*/

.pieArribaDerecha{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.grupo{
    display: flex;
    flex-direction: column;
    color: white;
    font-family: arial;
}

.grupo h2{
    font-size: 30px;
    margin: 5px;
}

.grupo p{
    font-size: 20px;
    margin: 5px;
}

/*------------- PIE ABAJO -------------*/

.pieAbajo{
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: arial;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}

.pieAbajo p{
    margin: 15px;
}