body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*==============================CABEZA==============================*/

header {
    display: flex;
    flex-direction: column;
}

/*------------- CABEZA ARRIBA -------------*/

.cabezaArriba {
    background-color: rgb(187, 255, 98);
}

.cabezaArriba img {
    width: 100%;
}

.cabezaArriba a {
    display: block;
    width: fit-content;
    height: fit-content;
    width: 15%;
    padding: 1vh;
}

/*------------- CABEZA ABAJO -------------*/

.cabezaAbajo {
    display: flex;
    flex-direction: row;
    background-color: rgb(206, 255, 142);
    justify-content: space-between;
}

/* >>> CABEZA MENÚ IZQUIERDO <<<*/

.menuIzquierda {
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

li a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3vh;
    height: 100%;
    width: 100%;
    margin: 0px;
    color: black;
    font-size: 2vh;
    font-family: Arial;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(95, 118, 66);
    color: white;
}

/* >>> CABEZA MENÚ DERECHO <<<*/

.menuDerecha {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0px;
    padding: 0px;
    height: 100%;
}

.menuDerecha li {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.menuDerecha a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vh;
    margin: 0px;
    height: 100%;
    width: 100%;
}

.menuDerecha img {
    height: 7vh;
    width: 7vh;
    margin: 0;
    padding: 0;
}

/*==============================CUERPO==============================*/

main {
    min-height: 100vh;
    background: url(../../../assets/Fondo/FondoPlantas-Oscuro.jpg);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.cuerpo {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 50px;
    text-align: center;
    width: 80%;
    display: flex;
    justify-content: space-between; /* Dividimos el espacio en 2 columnas */
    height: 100vh;
    flex-wrap: wrap;
}

/*-------------------- CARRO DE COMPRAS (IZQUIERDA) --------------------*/

.tabla {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-height: 80vh;
    overflow-y: auto;
    font-family: Arial;
    width: 60%; /* Ancho del carrito */
}

.tabla table {
    width: 100%;
    border-collapse: collapse;
}

.tabla tr {
    border-bottom: 2px solid rgb(95, 118, 66);
}

.tabla th, .tabla td {
    padding: 10px;
    text-align: left;
    font-size: 14px;
}

.tabla th {
    background-color: rgb(95, 118, 66);
    color: white;
    font-weight: normal;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

.tabla td {
    padding: 10px;
    background-color: white;
    text-align: center;
    vertical-align: middle;
}

table button{
    padding: 5px;
    margin: 10px;
    font-size: 10px;
    border: none;
    background-color: rgb(75, 98, 56);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.aumentar{
    font-family: impact;
    font-size: 20px;
    padding: 5px;
}

.disminuir{
    font-family: impact;
    font-size: 20px;
}

.disminuir:hover{
    background-color: rgb(198, 255, 84);
    color: black;
}

.aumentar:hover{
    background-color: rgb(198, 255, 84);
    color: black;
}

.eliminar:hover{
    background-color: rgb(255, 0, 0);
}

.imgEliminar{
    filter: invert(100%) brightness(100%) sepia(100%) saturate(0);
}

/*------------------------------ BOTONES ------------------------------*/

.botones {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.confirmarTodos, .eliminarTodos {
    padding: 20px;
    margin: 10px;
    font-size: 12px;
    border: none;
    background-color: rgb(75, 98, 56);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.confirmarTodos:hover {
    background-color: rgb(198, 255, 84);
    color: black;
    font-weight: bold;
}

.eliminarTodos:hover {
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    font-weight: bold;
}

/*--------------------- CONFIRMAR COMPRA (DERECHA) ----------------------*/

#modal-ompra {
    display: flex;
    flex-direction: column;
    width: 35%; /* Ancho de la sección de confirmación */
    padding: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#modal-ompra h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

#modal-ompra label {
    font-size: 14px;
    margin-top: 10px;
}

#modal-ompra input, #modal-ompra select {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#modal-ompra button {
    padding: 12px;
    background-color: rgb(95, 118, 66);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#modal-ompra button:hover {
    background-color: rgb(198, 255, 84);
    color: black;
}

/*==============================PIE==============================*/

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/*------------- PIE ARRIBA -------------*/

.pieArriba {
    display: flex;
    flex-direction: row;
    background-color: rgb(13, 24, 0);
    padding: 20px;
}

/* >>> PIE ARRIBA IZQUIERDA <<<*/

.pieArribaIzquierda {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.pieArribaIzquierda img {
    width: 300px;
}

/* >>> PIE ARRIBA DERECHA <<<*/

.pieArribaDerecha {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.grupo {
    display: flex;
    flex-direction: column;
    color: white;
    font-family: arial;
}

.grupo h2 {
    font-size: 30px;
    margin: 5px;
}

.grupo p {
    font-size: 20px;
    margin: 5px;
}

/*------------- PIE ABAJO -------------*/

.pieAbajo {
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: arial;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}

.pieAbajo p {
    margin: 15px;
}
