body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*==============================CABEZA==============================*/

header{
    display: flex;
    flex-direction: column;
}

/*----------------------------------------------*/

.cabezaArriba{
    background-color: rgb(187, 255, 98);
}

.cabezaArriba img{
    width: 100%;
}

.cabezaArriba a {
    display: block;
    width: fit-content;
    height: fit-content;
    width: 15%;
    padding: 1vh;
}

/*----------------------------------------------*/

.cabezaAbajo{
    display: flex;
    flex-direction: row;
    background-color: rgb(206, 255, 142);
    justify-content: space-between;
}

/*>>>>>>>>>>>>>>>>>>>>*/

.menuIzquierda{
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

li a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3vh;
    height: 100%;
    width: 100%;
    margin: 0px;
    color: black;
    font-size: 2vh;
    font-family: Arial;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(95, 118, 66);
    color: white;
}

/*>>>>>>>>>>>>>>>>>>>>*/

.menuDerecha{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0px;
    padding: 0px;
    height: 100%;
}

.menuDerecha li {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.menuDerecha a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vh;
    margin: 0px;
    height: 100%;
    width: 100%;
}

.menuDerecha img {
    height: 7vh;
    width: 7vh;
    margin: 0;
    padding: 0;
}

/*==============================CUERPO==============================*/


main{
    min-height: 100vh;
        background: url(../../../assets/Fondo/FondoPlantas-Oscuro.jpg);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
.cuerpo {
    width: 90%;
    min-height: 100vh;
    font-size: arial;
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.85);
    overflow: hidden;
    max-height: 600px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.mainIzquierdo, .mainDerecho {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

/*------------- CUERPO IZQUIERDO -------------*/

.mainIzquierdo {
    width: 25%;
    border-right: 2px solid rgba(95, 118, 66, 0.5);
    font-family: arial;
}

.formularioProducto {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.formularioProducto label{
    margin: 5px;
}

.formularioProducto input{
    margin: 5px;
}

.formularioProducto select{
    margin: 5px;
}

.formularioProducto textarea{
    margin: 5px;
}

.formularioProducto input, .formularioProducto select {
    padding: 10px;
    font-size: 20px;
    border: 1px solid rgb(95, 118, 66);
    border-radius: 5px;
}

.botones button {
    background-color: rgb(75, 98, 56);
    color: rgb(255, 255, 255);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.botones button:hover {
    background-color: rgb(198, 255, 84);
    color: rgb(0, 0, 0);
}

#descripcion{
    height: 200px;
    resize: none;
    padding: 10px;
    font-size: 20px;
    border: 1px solid rgb(95, 118, 66);
    border-radius: 5px;
}

.precios {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.precios input {
    width: 49%;
    margin: 1%;
}

/*------------- CUERPO DERECHO -------------*/

.mainDerecho {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.mainDerecho .filtro {
    margin-bottom: 20px;
}

.mainDerecho .seleccionFiltro {
    padding: 5px;
    font-size: 20px;
    border: 1px solid rgb(95, 118, 66);
    border-radius: 5px;
}

.tabla {
    flex-grow: 1;
    max-height: 70vh;
    overflow-y: auto;
    font-size: arial;
}

.tabla table {
    width: 100%;
    border-collapse: collapse;
}

.tabla th, .tabla td {
    padding: 15px;
    border: 1px solid rgba(95, 118, 66, 0.5);
    text-align: left;
    font-size: arial;
}

.tabla th {
    background-color: rgb(95, 118, 66);
    color: white;
    font-weight: normal;
}

.tabla td {
    background-color: rgba(255, 255, 255, 0.9);
}

/*==============================PIE==============================*/

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/*------------- PIE ARRIBA -------------*/

.pieArriba{
    display: flex;
    flex-direction: row;
    background-color: rgb(13, 24, 0);
    padding: 20px;
}

/* >>> PIE ARRIBA IZQUIERDA <<<*/

.pieArribaIzquierda{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.pieArribaIzquierda img{
    width: 300px;
}

/* >>> PIE ARRIBA DERECHA <<<*/

.pieArribaDerecha{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.grupo{
    display: flex;
    flex-direction: column;
    color: white;
    font-family: arial;
}

.grupo h2{
    font-size: 30px;
    margin: 5px;
}

.grupo p{
    font-size: 20px;
    margin: 5px;
}

/*------------- PIE ABAJO -------------*/

.pieAbajo{
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: arial;
    font-weight: bold;
    font-size: 20px;
    padding: 0px;
}

.pieAbajo p{
    margin: 15px;
}

/**************************************************************************************************************************************/
/**************************************************************************************************************************************/
/**************************************************************************************************************************************/

/*===============================*/

@media (max-width: 360px){
    
    /*==========CABEZA==========*/

    .cabezaArriba a {
        width: 30%
    }
    
    li a {
        padding: 1vh;
        font-size: 1.5vh;
    }
    
    .menuDerecha a {
        padding: 1vh;
    }
    
    .menuDerecha img {
        height: 3vh;
        width: 3vh;
    }
    
    /*===========PIE===========*/
    
    .pieArribaIzquierda img{
        width: 100%;
    }
    
    .grupo h2{
        font-size: 20px;
    }
    
    .grupo p{
        font-size: 15px;
    }
    
    .pieAbajo{
        font-size: 10px;
    }
    
    .pieAbajo p{
        margin: 15px;
    }
    
    /*lllllllllllllllllllllllllllllllllllllllllllll*/

    /*===========CUERPO===========*/

    .cuerpo {
        flex-direction: column; /* Apila los elementos en pantallas pequeñas */
        width: 100%;
    }

    .mainIzquierdo, .mainDerecho {
        width: 100%; /* Hace que ambos se expandan al 100% */
    }
    
    .tabla {
        max-height: none; /* Permite que la tabla se ajuste al contenido */
    }

    .tabla table {
        width: 100%; /* La tabla ocupará todo el ancho del contenedor */
        display: block; /* Permitir la flexibilidad de las celdas */
    }

    .tabla th, .tabla td {
        padding: 8px; /* Reduce el padding para mayor adaptabilidad */
    }

    /* Ajustar la altura de las filas para que sean más amigables en móvil */
    .tabla th {
        position: sticky;
        top: 0; /* Fijar los encabezados en la parte superior */
        z-index: 10; /* Asegurarse de que se superpongan sobre las celdas */
    }


    

    
}