body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*==============================CABEZA==============================*/

header{
    display: flex;
    flex-direction: column;
}

/*------------- CABEZA ARRIBA -------------*/

.cabezaArriba{
    background-color: rgb(187, 255, 98);
}

.cabezaArriba img{
    width: 100%;
}

.cabezaArriba a {
    display: block;
    width: fit-content;
    height: fit-content;
    width: 15%;
    padding: 1vh;
}

/*------------- CABEZA ABAJO -------------*/

.cabezaAbajo{
    display: flex;
    flex-direction: row;
    background-color: rgb(206, 255, 142);
    justify-content: space-between;
}

/* >>> CABEZA MENÚ IZQUIERDO <<<*/

.menuIzquierda{
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

li a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3vh;
    height: 100%;
    width: 100%;
    margin: 0px;
    color: black;
    font-size: 2vh;
    font-family: Arial;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(95, 118, 66);
    color: white;
}

/* >>> CABEZA MENÚ DERECHO <<<*/

.menuDerecha{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0px;
    padding: 0px;
    height: 100%;
}

.menuDerecha li {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.menuDerecha a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vh;
    margin: 0px;
    height: 100%;
    width: 100%;
}

.menuDerecha img {
    height: 7vh;
    width: 7vh;
    margin: 0;
    padding: 0;
}

/*==============================CUERPO==============================*/

main {
    min-height: 100vh;
    background: url(../../../assets/Fondo/FondoPlantas-Oscuro.jpg) no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
}

/*------------- CUERPO IZQUIERDO -------------*/

.mainIzquierdo {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.9);
    width: 70%;
    border-radius: 10px;
    overflow: hidden;
}

.ofertaTitle{                       
    padding: 20px;
    color: rgb(34, 85, 45);
    font-weight: bold;
    font-size: 24px;
    font-family: arial;
    background-color: rgb(208, 237, 171);
    text-align: center;
}

.ofertas {
    height: auto;
    padding: 20px;
    color: rgb(34, 85, 45);
    font-weight: bold;
    font-size: 24px;
    font-family: arial;
    background-color: rgb(208, 237, 171);
    border-bottom: 3px solid rgb(34, 85, 45);
    text-align: center;
}

#ofertas {
    display: flex;
    flex-wrap: nowrap; /* Evita que los elementos salten a una nueva línea */
    overflow-x: auto; /* Genera la barra desplazadora horizontal */
    white-space: nowrap; /* Asegura que los elementos estén en una sola línea */
    gap: 10px; /* Espaciado entre los productos */
    scrollbar-width: thin; /* Ajusta el ancho de la barra desplazadora en navegadores compatibles */
}

.general {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    padding: 20px;
    color: rgb(34, 85, 45);
    font-family: arial;
    background-color: rgb(255, 255, 255);
}

.producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
    }

.producto:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.producto .precios {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.original {
    font-size: 10px;
    color: rgb(119, 119, 119);
    text-decoration: line-through;
    margin-right: 0px;
}

.offPorcen {
    font-size: 10px;
    color: rgb(34, 139, 34); /* Dark green color */
}

.producto img {
    border-radius: 5px;
    margin-bottom: 10px;
}

.producto p {
    margin: 5px;
    font-size: 14px;
    color: rgb(34, 85, 45);
}
.botonAccion {
    margin-top: 10px;
    padding: 7px;
    font-size: 14px;
    color: white;
    background-color: rgb(34, 85, 45);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.botonAccion:hover {
    background-color: rgb(163, 194, 79);
    color: black;
}

.botonAccionNoOff {
    margin-top: auto;
    padding: 7px;
    font-size: 14px;
    color: white;
    background-color: rgb(34, 85, 45);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.botonAccionNoOff:hover {
    background-color: rgb(140, 255, 0);
    color: black;
}

/*------------- CUERPO DERECHO -------------*/

.mainDerecho {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(208, 237, 171);
    padding: 20px;
    width: 25%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: rgb(34, 85, 45);
    font-family: Arial;
}

.mainDerecho h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: rgb(34, 85, 45);
}

/*==============================PIE==============================*/

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/*------------- PIE ARRIBA -------------*/

.pieArriba{
    display: flex;
    flex-direction: row;
    background-color: rgb(13, 24, 0);
    padding: 20px;
}

/* >>> PIE ARRIBA IZQUIERDA <<<*/

.pieArribaIzquierda{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.pieArribaIzquierda img{
    width: 300px;
}

/* >>> PIE ARRIBA DERECHA <<<*/

.pieArribaDerecha{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.grupo{
    display: flex;
    flex-direction: column;
    color: white;
    font-family: arial;
}

.grupo h2{
    font-size: 30px;
    margin: 5px;
}

.grupo p{
    font-size: 20px;
    margin: 5px;
}

/*------------- PIE ABAJO -------------*/

.pieAbajo{
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: arial;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}

.pieAbajo p{
    margin: 15px;
}