body {
    font-family: sans-serif;
    margin: 0;
    background-color: rgb(13, 22, 0);
}

/*---------------------------------------------------------------------------------------------------------------------------*/

.cabezeraSuperior {
    display: flex;
    min-height: 70px;
    background-color: rgb(161, 255, 37);
    justify-content: left;
    align-items: center;
    padding: 10px;
}

.cabezeraSuperior a{
    margin: 0px;
    padding: 0px;
}

.Logo-Cabeza {
    width: 40%;
}

/*---------------------------------------*/

.cabezeraInferior {
    display: flex;
    background-color: rgb(186, 255, 96);
    height: 60px;
}

.menuNavegación {
    display: flex;
    flex-direction: row;
    width: 100%;
    background: rgb(186, 255, 96);
    list-style: none;
}

.menuNavegación li {
    margin: 0px;
    padding: 5px;
}

.menuNavegación li a {
    text-decoration: none;
    color: black;
    padding: 22.5px;
    font-size: 15px;
}

.menuNavegación li a:hover {
    background: rgb(72, 127, 0);
    color: white;
}

.carritoIcono img{
    width: 35px;
    height: 35px;
    padding: 12.5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.carritoIcono img:hover{
    background: rgb(72, 127, 0);
}

.usuarioIcono img{
    width: 35px;
    height: 35px;
    padding: 12.5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.usuarioIcono img:hover{
    background: rgb(72, 127, 0);
}

/*---------------------------------------------------------------------------------------------------------------------------*/

main{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: url(../../../assets/Fondo/FondoPlantas-Oscuro.jpg);
}

.producto{
    display: flex;
    flex-direction: row;
    background-color: rgb(94, 123, 47);
    width: 90%;
    max-width: 90%;
    margin-top: 50px;
    padding: 25px;
}

.selectorImagen{
    display: flex;
    flex-direction: row;
    width: 30%;
    height: 100%;
    padding: 10px;
}

.imagen{
    padding: 10px;
    width: 70%;
    height: 100%;
}

img{
    width: 100%;
    height: 100%;
}

.anterior{
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-family: impact;
    margin-top: 32.5%;
    width: 15%;
    height: 15%;
    padding: 11x;
    color: rgb(170, 255, 0);
    border: 3px solid rgb(170, 255, 0);
    background-color: rgb(33, 53, 0);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.anterior:hover{
    border: 3px solid rgb(170, 255, 0);
    background-color: rgb(170, 255, 0);
    color: rgb(33, 53, 0);
}

.siguiente{
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-family: impact;
    margin-top: 32.5%;
    width: 15%;
    height: 15%;
    padding: 11x;
    color: rgb(170, 255, 0);
    border: 3px solid rgb(170, 255, 0);
    background-color: rgb(33, 53, 0);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.siguiente:hover{
    border: 3px solid rgb(170, 255, 0);
    background-color: rgb(170, 255, 0);
    color: rgb(33, 53, 0);
}

/*----------------*/

.info{
    display: flex;
    flex-direction: column;
    border: 3px solid rgb(170, 255, 0);
    background-color: rgb(33, 53, 0);
    color: rgb(170, 255, 0);
    padding: 10px;
    width: 70%;
    height: 100%;
}

.nombre{
    font-family: impact;
    font-size: 40px;
}

.compra{
    display: flex;
    flex-direction: row;
    padding: 10px;
    height: 60px;
}

#agregar{
    display: flex;
    justify-content: center;
    border: 3px solid rgb(170, 255, 0);
    background-color: rgb(33, 53, 0);
    color: rgb(170, 255, 0);
    padding: 10px;
    font-family: impact;
    font-size: 30px;
    height: 50px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#agregar:hover{
    border: 3px solid rgb(170, 255, 0);
    background-color: rgb(170, 255, 0);
    color: rgb(33, 53, 0);
}

.contador{
    display: flex;
    flex-direction: row;
    padding: 10px;
}

#numero{
    display: flex;
    justify-content: center;
    border: 3px solid rgb(170, 255, 0);
    background-color: rgb(33, 53, 0);
    color: rgb(170, 255, 0);
    padding: 10px;
    font-size: 30px;
    width: 30px;
    height: 30px;
}

.botonesContador{
    display: flex;
    flex-direction: column;
}

#mas{
    border: 3px solid rgb(170, 255, 0);
    background-color: rgb(33, 53, 0);
    color: rgb(170, 255, 0);
    padding: 10px;
    font-size: 10px;
    width: 20px;
    height: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#mas:hover{
    border: 3px solid rgb(170, 255, 0);
    background-color: rgb(170, 255, 0);
    color: rgb(33, 53, 0);
}

#menos{
    border: 3px solid rgb(170, 255, 0);
    background-color: rgb(33, 53, 0);
    color: rgb(170, 255, 0);
    padding: 5px;
    font-size: 15px;
    width: 35px;
    height: 35px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#menos:hover{
    border: 3px solid rgb(170, 255, 0);
    background-color: rgb(170, 255, 0);
    color: rgb(33, 53, 0);
}

/*---------------------------------------*/

.comentariosGeneral{
    display: flex;
    flex-direction: column;
    background-color: rgb(114, 103, 103);
    width: 86.5%;
    height: 700px;
    padding: 50px;
}

.comentar{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px;
    background-color: black;
}

#usuario{
    color:black;
    background-color: #adff2f;
    font-size: 10px;
    padding: 5px;
    width: 10%;
    height: 40px;
}

#escribirComentario{
    background-color: transparent;
    width: 100%;
    height: 30px;
    border: 5px solid rgb(0, 0, 0);
    color: rgb(170, 255, 0);
    border-bottom: 5px solid rgb(170, 255, 0);
    border-radius: 5px;
}

/*---------------------------------------------------------------------------------------------------------------------------*/

.Logo-Pie {
    width: 50%;
}

.pie-pagina {
    width: 100%;
    background-color: rgb(20, 35, 0);
}

.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 10px 0;
}

.pie-pagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
    width: 250px;
}

.pie-pagina .grupo-1 .box h2 {
    color: rgb(255, 255, 255);
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
}

/*---------------------------------------*/

.pie-pagina .grupo-2 {
    background-color: rgb(13, 22, 0);
    padding: 15px 10px;
    text-align: center;
    margin: auto;
    color: rgb(255, 255, 255);
}

.pie-pagina .grupo-2 small {
    font-size: 15px;
}

