body {
    font-family: sans-serif;
    margin: 0;
    background-color: rgb(13, 22, 0);
}

/*---------------------------------------------------------------------------------------------------------------------------*/

.cabezeraSuperior {
    display: flex;
    min-height: 70px;
    background-color: rgb(161, 255, 37);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.Logo-Cabeza {
    width: 40%;
}

/*---------------------------------------*/

.cabezeraInferior {
    display: flex;
    min-height: 65px;
    background-color: rgb(186, 255, 96);
    justify-content: center;
    align-items: center;
}

.menuNavegación {
    background: rgb(186, 255, 96);
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 0;
    list-style: none;
}

.menuNavegación li a {
    text-decoration: none;
    color: black;
    padding: 20px;
    display: block;
}

.menuNavegación li {
    display: inline-block;
    text-align: center;
}

.menuNavegación li a:hover {
    background: rgb(72, 127, 0);
    color: white;
}

/*---------------------------------------------------------------------------------------------------------------------------*/

main {
    background: url(../../Imagenes/FondoPlantas-Oscuro.jpg);
    width: 100%;
    max-width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo{
    margin: 50px;
    display: flex;
    flex-direction: row;
}

.contactosDerecha {
    background-color: rgb(145, 199, 73);
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 420px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0, 2);
    text-align: center;
    justify-content: center;
    align-items: center;
}

.contactosIzquierda {
    background-color: rgb(186, 255, 96);
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 420px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0, 2);
    text-align: center;
    justify-content: center;
    align-items: center;
}

.logo{
    scale: 75%;
    margin: 10px;
}

.usuario{
    scale: 50%;
}

.primer{
    margin: 10px;
    display: flex;
    flex-direction: row;
    padding: 0px;
}

.segundo{
    margin: 10px;
    display: flex;
    flex-direction: row;
    padding: 0px;
}

.tercero{
    margin: 10px;
    display: flex;
    flex-direction: row;
    padding: 0px;
}

.cuarto{
    margin: 10px;
    display: flex;
    flex-direction: row;
    padding: 0px;
}

.texto{
    background-color: rgb(186, 255, 96);
    border: 5px solid black;
    color: black;
    font-family: arial;
    padding: 5px;
    width: 30px;
    border-radius: 5px;
}



/*---------------------------------------------------------------------------------------------------------------------------*/

.Logo-Pie {
    width: 50%;
}

.pie-pagina {
    width: 100%;
    background-color: rgb(20, 35, 0);
}

.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 10px 0;
}

.pie-pagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
    width: 250px;
}

.pie-pagina .grupo-1 .box h2 {
    color: rgb(255, 255, 255);
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
}

/*---------------------------------------*/

.pie-pagina .grupo-2 {
    background-color: rgb(13, 22, 0);
    padding: 15px 10px;
    text-align: center;
    margin: auto;
    color: rgb(255, 255, 255);
}

.pie-pagina .grupo-2 small {
    font-size: 15px;
}