body {
    font-family: sans-serif;
    margin: 0;
    background-color: rgb(13, 22, 0);
}

/*---------------------------------------------------------------------------------------------------------------------------*/

.cabezeraSuperior {
    display: flex;
    min-height: 70px;
    background-color: rgb(161, 255, 37);
    justify-content: left;
    align-items: center;
    padding: 10px;
}

.cabezeraSuperior a{
    margin: 0px;
    padding: 0px;
}

.Logo-Cabeza {
    width: 40%;
}

/*---------------------------------------*/

.cabezeraInferior {
    display: flex;
    background-color: rgb(186, 255, 96);
    height: 60px;
}

.menuNavegación {
    display: flex;
    flex-direction: row;
    width: 100%;
    background: rgb(186, 255, 96);
    list-style: none;
}

.menuNavegación li {
    margin: 0px;
    padding: 5px;
}

.menuNavegación li a {
    text-decoration: none;
    color: black;
    padding: 22.5px;
    font-size: 15px;
}

.menuNavegación li a:hover {
    background: rgb(72, 127, 0);
    color: white;
}

.carritoIcono img{
    width: 35px;
    height: 35px;
    padding: 12.5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.carritoIcono img:hover{
    background: rgb(72, 127, 0);
}

.usuarioIcono img{
    width: 35px;
    height: 35px;
    padding: 12.5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.usuarioIcono img:hover{
    background: rgb(72, 127, 0);
}

/*---------------------------------------------------------------------------------------------------------------------------*/

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../../../assets/Fondo/FondoPlantas-Oscuro.jpg);
}

/*---------------------------------------*/


.info{
    display: flex;
    flex-direction: row;
    width: 60%;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #1e3c00;
}

.icono{
    display: flex;
    align-content: center;
    padding: 20px;
    width: 25%;
}

.icono img{
    width: 100%;
    height: 100%;
}

.datos{
    display: flex;
    align-content: left;
    flex-direction: column;
    width: 75%;
    height: 100%;
    color: rgb(161, 255, 37);
    font-size: 30px;
    padding: 20px;
    background-color: #1e3c00;
}

.datos div{
}

/*---------------------------------------*/

.botones{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 60%;
    height: 100%;
    background-color: #000000;
}

#cambiar{
    width: 600px;
    height: 120px;
    font-size: 40px;
    padding: 20px;
    margin: 10px;
    border: 10px solid rgb(161, 255, 37);
    background-color: #0f1f00;
    color: rgb(161, 255, 37);
    font-family: impact;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#cambiar:hover{
    border: 10px solid rgb(161, 255, 37);
    background-color: rgb(161, 255, 37);
    color: #0f1f00;
}

#cerrar{
    width: 600px;
    height: 120px;
    font-size: 40px;
    padding: 20px;
    margin: 10px;
    border: 10px solid rgb(161, 255, 37);
    background-color: #0f1f00;
    color: rgb(161, 255, 37);
    font-family: impact;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#cerrar:hover{
    border: 10px solid rgb(255, 0, 0);
    background-color: rgb(255, 0, 0);
    color: #ffffff;
}

/*---------------------------------------------------------------------------------------------------------------------------*/

.Logo-Pie {
    width: 50%;
}

.pie-pagina {
    width: 100%;
    background-color: rgb(20, 35, 0);
}

.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 10px 0;
}

.pie-pagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
    width: 250px;
}

.pie-pagina .grupo-1 .box h2 {
    color: rgb(255, 255, 255);
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
}

/*---------------------------------------*/

.pie-pagina .grupo-2 {
    background-color: rgb(13, 22, 0);
    padding: 15px 10px;
    text-align: center;
    margin: auto;
    color: rgb(255, 255, 255);
}

.pie-pagina .grupo-2 small {
    font-size: 15px;
}

